/* Custom CSS ********
** Jennifer N Nguyen *
** 08/27/2017        *
*********************/

/* make the entire header black */
.skin-black .main-header .logo, .skin-black .main-header .logo:hover {
  color: white;
  font-weight: bold;
  background-color: rgb(50,50,50);
  border-right: transparent;
}

/* color of navbar & toggle options*/
.skin-black .main-header .navbar {
    background-color: rgb(85,85,85);
}

.skin-black .main-header .navbar .sidebar-toggle:hover {
    color: white;
    text-decoration: none;
    background: rgb(50,50,50);
    border-right: rgb(50,50,50);
}

.main-header .sidebar-toggle:before {
    color: white;
}

.skin-black .main-header .navbar>.sidebar-toggle {
  border-right: rgb(85,85,85);
}

/* sidebar color */
.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
    background-color: black;
}

/* change recipe links to white font */
.match_recipe a, .match_recipe a:hover {
  color: white;
}

/* change height of box for grid */
.light-blue .col-sm-3 {
  height: 220px;
  min-width: 200px;
}

.teal .col-sm-3 {
  height: 220px;
  min-width: 200px;
}

.match_recipe {
  margin: 5px;
}

/* make food boxes background transparent */
.yellow {
  background-color: rgba(243, 156, 18, .7);
  color: white;
}
.green {
  background-color: rgba(0, 166, 90, .7);
  color: white;
}
.red {
  background-color: rgba(221, 75, 57, .7);
  color: white;
}
.light-blue {
  background-color: rgba(69, 130, 236, .7);
  color: white;
}
.teal {
  background-color: rgba(57, 204, 204, .7);
}

/* change main color of primary boxes */
.box.box-solid.box-primary>.box-header {
  color:#fff;
  background:#4582ec
                    }

.box.box-solid.box-primary{
  border-color: #4582ec;
}

/* change main color of info boxes */
.box.box-solid.box-info>.box-header {
  color:#fff;
  background:rgb(57, 204, 204)
}

.box.box-solid.box-info{
  border-color: rgb(57, 204, 204);
}

/* navigation tabs */
.nav-tabs-custom>.nav-tabs {
  font-size: 18px;
}

.nav-tabs-custom>.nav-tabs .active a {
  font-weight: bold;
}

